<%- include('../partials/header') %>

<% if (listings.length > 0) { %>
  <div class="listings-container">
    <% listings.forEach((listing) => { %>
      <div class="listing">
        <h3 class="address"><%= listing.address %></h3>

        <div class="pictures-container">
          <% listing.pictures.slice(0, 3).forEach((picture, index) => { %>
            <img src="<%= picture %>" alt="Listing Picture">
          <% }) %>
        </div>

        <div class="listing-details">
          <ul>
            <li>Bedrooms: <%= listing.bedrooms %></li>
            <li>Bathrooms: <%= listing.bathrooms %></li>
            <li>Square Footage: <%= listing.sqFootage %> sq ft</li>
            <li>Price per Night: $<%= listing.pricePerNight.toFixed(2) %></li>
          </ul>
          <div class="listing-options">
            <a href="/all-listings/review/<%= listing._id %>" class="review-link">Review</a>
            <a href="/reservations/<%= listing._id %>/reserve" class="reserve-link">Reserve</a>
             <a href="/all-listings/delete/<%= listing._id %>" class="delete-link">Delete</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p>No listings available.</p>
<% } %>

<%- include('../partials/footer') %>