<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>

    <nav>
      <a href="/all-listings" <%- title === 'All Listings' ? 'class="active"' : '' %>>ALL LISTINGS</a>
      <% if (user) { %>
        <a href="/newlistings/new" <%- title === 'Add Listing' ? 'class="active"' : '' %>>ADD LISTING</a>
        <a href="/listings/reserve" <%- title === 'Reserve Listing' ? 'class="active"' : '' %>>RESERVE LISTING</a>
        <a href="/listings/review" <%- title === 'Review Listing' ? 'class="active"' : '' %>>REVIEW LISTING</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
      <% } %>
    </nav>
  
    <main>
      <h1><%= title %></h1>
      <!-- Your main content goes here -->
    </main>
  

  
  </body>
  </html>